ul.nav li{list-style-type: none;
	display: inline;}
h1{text-align: center;
   font-family: tahoma;
   color: gold;}
h2{margin-left: 20px;}
h3{text-align: center;
   font-size: 150%;}  
#d1{font-family: tahoma;
    color: black;
	font: 24;
	padding: 5px 40px;}
body{background-color: gray;
	 margin-top:12px;
	 position: absolute;
	 top: 8.2em;}
p{margin-left: 30px;
  margin-right: 20px;
  font-family: tahoma;
  color: black;
  font: 24;
  line-height: 2em;}
#top{border: 2px solid;
	 position:fixed;
	 top:0;
	 left:0;
	 right:0;
	 background-color: black;}
nav{border: 2px solid;
	background-color:gold;
<<<<<<< HEAD
	width: 84.7em;
	}
=======
	width: 84.7em;}
>>>>>>> origin/master
#footer{border-top: 2px solid;
		position: fixed;
		bottom:0;
		width:100%;
		color: gold;
		background-color: black;}
<<<<<<< HEAD
		
#button1{
        -webkit-animation-name: redPulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        width:120px;
        height:27px;
        color:black;
		display:inline-block;
        font-family:arial;
        font-weight: 700;
        text-align:center;
        line-height: 34px;
        border-radius: 4px;
        
         }
@-webkit-keyframes redPulse {
        from { background-color: #FF1439; -webkit-box                    -shadow: 0 0 9px #333; }
        50% { background-color: #B700D9; -webkit-box                     -shadow: 0 0 18px #91bd09; }
        to { background-color: #FF1439; -webkit-box-shadow: 0 0               9px #333; }
}		
=======
>>>>>>> origin/master
.zero{float: right;}
.search{text-align:right;}
.vegeta{float: left;}
.heat{float: right;}
.newEntry{border: 1px solid}
.entryTitle{border: 1px solid}
.enter{text-align: center;
       border: 1px solid}
<<<<<<< HEAD
	   
.pic{background-color: gray;
         height:35px;
         width:70px;
         text-align: center;
         box-shadow: 5px 5px 5px #888888;
         border-radius: 5px;
         border: 2px solid black;
         transition: all 0.5s;
         cursor: pointer;
         }
=======
>>>>>>> origin/master
