body {
background-repeat: repeat;
background-color: #006633;
color: #404040;
background-image: url("computer.jpg");
}


h1{
font-family: sans-serif, Times New Roman, serif;
color: white;
text-align: center;
text-decoration: underline;
font-weight: bold;
font-size: 24pt;
}



p {
color: black;
font-size: 18pt;

}

#descriptionBox {
border: 4px solid purple;
background-color: silver;
        }
		#links{
		text-align: center;
		}
